body {
	text-align: center;
	margin: 0px;
}

a {
	color: inherit;
}

.page_title {
	display: block;
	font-weight: bold;
	font-size: 125%;
}

.main_views {
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
}

.main_view {
	padding: 10px;
}

.main_view_selected {
	font-weight: bold;
}

.summary_stats, .date_range, .event_comment, .header_links {
	display: block;
	font-size: 80%;
	padding-top: 1px;
	padding-bottom: 1px;
}

.header_link {
	padding: 5px;
}

.date_title {
	font-weight: bold;
	font-size: 110%;
	padding-bottom: 5px;
	display: inline-block;
}

.media {
	display: inline-block;
	width: 390px;
	padding: 5px;
	vertical-align: text-top;
}

.media_thumb {
	display: block;
	width: 390px;
}

.media_title, .media_comment, .media_metadata {
	display: block;
	padding-left: 13px;
	width: 364px;
}

.media_title {
	font-weight: bold;
}

.media_comment {
	font-size: 80%;
}

.media_metadata {
	font-size: 80%;
	padding-top: 2px;
}

.stat {
	white-space: nowrap;
}

.breadcrumbs {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}

.breadcrumb, .breadcrumb_inactive {
	padding: 7px;
	white-space: nowrap;
}

.breadcrumb_inactive {
	color: lightgrey;
}

.more_less {
	font-style: italic;
	text-decoration: underline;
	padding: 2px;
	cursor: pointer;
}

.clickable {
	cursor: pointer;
}

.generated_at {
	display: block;
	font-size: 70%;
	font-style: italic;
	padding-top: 10px;
}

.search_criterias, .search_criteria, .search_controls {
	display: block;
	padding-bottom: 5px;
}

.loading, .error, .notfound {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	font-style: italic;
	padding: 10px;
}

.loading, .error {
	font-size: 120%;
}
