/* SPDX-License-Identifier: Apache-2.0 */
/*
 * Note that this stylesheet scales the images down and used for older iPhones
 * with a maximum screen width of 375px. This stylesheet will eventually go
 * away.
 */

.media {
	width: 368px;
}

.media_no_descr {
	width: 368px;
	height: 368px;
}

.media_medium {
	width: 180px;
	height: 180px;
}

.media_medium_container {
	width: 368px;
	height: 368px;
}

.media_medium_container_2h {
	width: 368px;
	height: 180px;
}

.media_small_container {
	width: 184px;
	height: 184px;
}

.media_small_container_2h {
	width: 184px;
	height: 92px;
}

.media_small {
	width: 88px;
	height: 88px;
}

.media_thumb img {
	max-width: 100%;
	max-height: 100%
}
