[Unit]
Description=GPIO Power Button
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/local/bin/power_button.py
Environment=PYTHONUNBUFFERED=1
Environment=WAYLAND_DISPLAY=wayland-0
KillMode=process
Restart=on-failure

[Install]
WantedBy=default.target
