[Unit]
Description=Power off photos
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/local/bin/stop-photos.sh
Environment=WAYLAND_DISPLAY=wayland-0
KillMode=process
Restart=on-failure
